<% unless review.nil? %>
  <div class="row">
    <p class="rating">Rating: <%= review.rating %> </p>
  </div>
  <div class="row">
    <p class="body"><%= review.body %></p>
  </div>
  <div class="row">
    <p class="crTime"><%= review.created_at.strftime("%B %d %Y") %></p>
  </div>
<% end %>
